@media screen and (min-width:799px) and (max-width:1280px) {
    :root{
        width: 100%;
        height: 100vh;
    }
    .home-div {
        width: 20rem;
        padding: 0 0 0 2rem;
        align-items: start;
        gap: 0.1rem;
        height: 150px;
    }

    .home {
        width: 20rem;
    }

    .gap {
        padding: 0.5rem;
    }

    .home-div a {
        font-size: 0.9rem;
    }

    .text-library-heading {
        width: 100%;
        margin: 0px 5%;
        font-size: 1rem;
        font-weight: 700;

    }

    .gap-library {
        font-size: 1.4rem;
    }

    .create-playlists {
        margin: 0.6rem;
        line-height: 1.5rem;
    }

    .create-playlists h3 {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .create-playlists p {
        font-size: 0.7rem;
        font-weight: 400;
    }

    .create-playlists button {
        margin-top: 4px;
        font-size: 0.689;
        font-weight: 460;
        padding: 0.4rem 1.1rem;
    }

    .scroll-library {
        height: 50vh;

    }

    .library-div {
        width: 20rem;
    }

    .privacy-items {
        width: 92%;
        display: flex;
        gap: 0.7rem;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .content {
        width: 100%;
        margin: 0.5rem 0 0 0;
        height: 92vh;
    }
    .content-div {
        width: 100%;
        height: 94.5%;
        
    }
    .login {
        padding: 0.4rem;
    }
    .active-sign-btn {
        font-size: 0.8rem;
        transform: translate3d(0px, 0px, 0px);
    }
    .active-sign-btn:hover {
        transform: scale(1);
    }
    .active-login-btn {
        font-size: 0.8rem;
    }
    .active-login-btn:hover {
        transform: scale(1.14);
    }
    .menu-login {
        display: block;
        margin: 15px 0px 0 15px;
        width: 40px;
        height: 40px;
    }

    .cards {
        width: 30rem;
        overflow-x: scroll;
        scroll-behavior: smooth;
        /* justify-content: space-evenly; */
    }

    .card {
        width: 100%;
        /* margin-left: 20px; */
    }

    .card1 {
        margin-left: 30rem;
    }

    .card img {
        width: 10rem;
    }

    .focus a {
        right: 1rem;
        font-size: 0.723rem;
        font-weight: 590;
    }

    .focus h1 {
        width: 100%;
        font-size: 1.1rem;
        font-weight: 500;
        margin: 0.5rem 0 0.5rem 1rem;
    }

    .footer-div-row {
        padding: 2.2rem 0rem 0rem 1rem;
        /* background-color: #1D1D1D; */
    }

    .first-row {
        flex-direction: column;
    }

    .item-column {
        margin: 0 0 1rem 0;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }

    .company-text h2 {
        font-size: 1rem;
    }

    .company-text a {
        font-size: 0.83rem;
    }
    .sign-up-article h1 {
        font-size: 0.7rem;
        font-weight: 400;
    }
    .sign-up-article button {
        font-size: 0.9rem;
        font-weight: 700;
      }
      



}